<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-category-heading" jhiTranslate="iCounselingApp.category.home.createOrEditLabel">Create or edit a Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iCounselingApp.category.images" for="field_images">Images</label>
                    <div>
                        <div *ngIf="editForm.get('images').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('imagesContentType').value, editForm.get('images').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('imagesContentType').value}}, {{byteSize(editForm.get('images').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({images: null});editForm.patchValue({imagesContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_images" (change)="setFileData($event, 'images', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="images" id="field_images"
                           formControlName="images"/>
                    <input type="hidden" class="form-control" name="imagesContentType" id="field_imagesContentType"
                           formControlName="imagesContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iCounselingApp.category.categoryType" for="field_categoryType">Category Type</label>
                    <select class="form-control" name="categoryType" formControlName="categoryType" id="field_categoryType">
                        <option value="ROMANCE">{{'iCounselingApp.CategoryType.ROMANCE' | translate}}</option>
                        <option value="ARTS_PHOTOGRAPHY">{{'iCounselingApp.CategoryType.ARTS_PHOTOGRAPHY' | translate}}</option>
                        <option value="BIOGRAPHIES_MEMOIRS">{{'iCounselingApp.CategoryType.BIOGRAPHIES_MEMOIRS' | translate}}</option>
                        <option value="BUSINESS_INVESTING">{{'iCounselingApp.CategoryType.BUSINESS_INVESTING' | translate}}</option>
                        <option value="CHILDREN_BOOKS">{{'iCounselingApp.CategoryType.CHILDREN_BOOKS' | translate}}</option>
                        <option value="COOKBOOKS_FOOD">{{'iCounselingApp.CategoryType.COOKBOOKS_FOOD' | translate}}</option>
                        <option value="HISTORY">{{'iCounselingApp.CategoryType.HISTORY' | translate}}</option>
                        <option value="LOTERATURE_FICTION">{{'iCounselingApp.CategoryType.LOTERATURE_FICTION' | translate}}</option>
                        <option value="MYSTERY_THRILLER_SUSPENSE">{{'iCounselingApp.CategoryType.MYSTERY_THRILLER_SUSPENSE' | translate}}</option>
                        <option value="SCIENCE_FICTION_FANTASY">{{'iCounselingApp.CategoryType.SCIENCE_FICTION_FANTASY' | translate}}</option>
                        <option value="TEEN_YOUNG_ADULT_BOOKS">{{'iCounselingApp.CategoryType.TEEN_YOUNG_ADULT_BOOKS' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('categoryType').invalid && (editForm.get('categoryType').dirty || editForm.get('categoryType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('categoryType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iCounselingApp.category.library" for="field_library">Library</label>
                    <select class="form-control" id="field_library" name="library" formControlName="libraryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="libraryOption.id" *ngFor="let libraryOption of libraries; trackBy: trackLibraryById">{{libraryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
