<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="iCounselingApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iCounselingApp.transaction.totalAmount">Total Amount</span></dt>
                <dd>
                    <span>{{transaction.totalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.transaction.status">Status</span></dt>
                <dd>
                    <span>{{transaction.status}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.transaction.visitor">Visitor</span></dt>
                <dd>
                    <div *ngIf="transaction.visitorId">
                        <a [routerLink]="['/visitor', transaction.visitorId, 'view']">{{transaction.visitorId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
