<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planning">
            <h2><span jhiTranslate="iCounselingApp.planning.detail.title">Planning</span> {{planning.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iCounselingApp.planning.title">Title</span></dt>
                <dd>
                    <span>{{planning.title}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.planning.startDate">Start Date</span></dt>
                <dd>
                    <span>{{planning.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.planning.startTime">Start Time</span></dt>
                <dd>
                    <span>{{planning.startTime}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.planning.endDate">End Date</span></dt>
                <dd>
                    <span>{{planning.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.planning.endTime">End Time</span></dt>
                <dd>
                    <span>{{planning.endTime}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.planning.description">Description</span></dt>
                <dd>
                    <span>{{planning.description}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.planning.counselor">Counselor</span></dt>
                <dd>
                    <div *ngIf="planning.counselorId">
                        <a [routerLink]="['/counselor', planning.counselorId, 'view']">{{planning.counselorId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/planning', planning.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
