<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="counselingCase">
            <h2><span jhiTranslate="iCounselingApp.counselingCase.detail.title">Counseling Case</span> {{counselingCase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iCounselingApp.counselingCase.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'iCounselingApp.CounselingCaseStatus.' + counselingCase.status}}">{{counselingCase.status}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.counselingCase.visitor">Visitor</span></dt>
                <dd>
                    <div *ngIf="counselingCase.visitorId">
                        <a [routerLink]="['/visitor', counselingCase.visitorId, 'view']">{{counselingCase.visitorId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.counselingCase.counselor">Counselor</span></dt>
                <dd>
                    <div *ngIf="counselingCase.counselorId">
                        <a [routerLink]="['/counselor', counselingCase.counselorId, 'view']">{{counselingCase.counselorId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/counseling-case', counselingCase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
