<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span jhiTranslate="iCounselingApp.task.detail.title">Task</span> {{task.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iCounselingApp.task.repeatTime">Repeat Time</span></dt>
                <dd>
                    <span jhiTranslate="{{'iCounselingApp.RepeatTime.' + task.repeatTime}}">{{task.repeatTime}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.task.repeatUntil">Repeat Until</span></dt>
                <dd>
                    <span jhiTranslate="{{'iCounselingApp.RepeatUntil.' + task.repeatUntil}}">{{task.repeatUntil}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.task.reminder">Reminder</span></dt>
                <dd>
                    <div *ngIf="task.reminderId">
                        <a [routerLink]="['/reminder', task.reminderId, 'view']">{{task.reminderId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.task.schedule">Schedule</span></dt>
                <dd>
                    <div *ngIf="task.scheduleId">
                        <a [routerLink]="['/schedule', task.scheduleId, 'view']">{{task.scheduleId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.task.planning">Planning</span></dt>
                <dd>
                    <div *ngIf="task.planningId">
                        <a [routerLink]="['/planning', task.planningId, 'view']">{{task.planningId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task', task.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
