<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="score">
            <h2><span jhiTranslate="iCounselingApp.score.detail.title">Score</span> {{score.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iCounselingApp.score.total">Total</span></dt>
                <dd>
                    <span>{{score.total}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.score.image">Image</span></dt>
                <dd>
                    <div *ngIf="score.image">
                        <a (click)="openFile(score.imageContentType, score.image)" jhiTranslate="entity.action.open">open</a>
                        {{score.imageContentType}}, {{byteSize(score.image)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.score.degree">Degree</span></dt>
                <dd>
                    <span jhiTranslate="{{'iCounselingApp.ScoreDegree.' + score.degree}}">{{score.degree}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/score', score.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
