<div>
    <h2 id="page-heading">
        <span jhiTranslate="iCounselingApp.document.home.title">Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iCounselingApp.document.home.createLabel">
            Create new Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="documents?.length === 0">
        <span jhiTranslate="iCounselingApp.document.home.notFound">No documents found</span>
    </div>
    <div class="table-responsive" *ngIf="documents?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="iCounselingApp.document.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="iCounselingApp.document.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span jhiTranslate="iCounselingApp.document.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publishedDate"><span jhiTranslate="iCounselingApp.document.publishedDate">Published Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="paymentType"><span jhiTranslate="iCounselingApp.document.paymentType">Payment Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentFormat"><span jhiTranslate="iCounselingApp.document.documentFormat">Document Format</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imagesGallery"><span jhiTranslate="iCounselingApp.document.imagesGallery">Images Gallery</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tag"><span jhiTranslate="iCounselingApp.document.tag">Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rateIndex"><span jhiTranslate="iCounselingApp.document.rate">Rate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commentId"><span jhiTranslate="iCounselingApp.document.comment">Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gategoryCategoryType"><span jhiTranslate="iCounselingApp.document.gategory">Gategory</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="counselorId"><span jhiTranslate="iCounselingApp.document.counselor">Counselor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents ;trackBy: trackId">
                <td><a [routerLink]="['/document', document.id, 'view' ]">{{document.id}}</a></td>
                <td>{{document.title}}</td>
                <td>
                    <a *ngIf="document.description" (click)="openFile(document.descriptionContentType, document.description)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="document.description">{{document.descriptionContentType}}, {{byteSize(document.description)}}</span>
                </td>
                <td>{{document.price}}</td>
                <td>{{document.publishedDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'iCounselingApp.PaymentType.' + document.paymentType}}">{{document.paymentType}}</td>
                <td jhiTranslate="{{'iCounselingApp.DocumentFormat.' + document.documentFormat}}">{{document.documentFormat}}</td>
                <td>
                    <a *ngIf="document.imagesGallery" (click)="openFile(document.imagesGalleryContentType, document.imagesGallery)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="document.imagesGallery">{{document.imagesGalleryContentType}}, {{byteSize(document.imagesGallery)}}</span>
                </td>
                <td>{{document.tag}}</td>
                <td>
                    <div *ngIf="document.rateId">
                        <a [routerLink]="['../rate', document.rateId , 'view' ]" >{{document.rateIndex}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="document.commentId">
                        <a [routerLink]="['../comment', document.commentId , 'view' ]" >{{document.commentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="document.gategoryId">
                        <a [routerLink]="['../category', document.gategoryId , 'view' ]" >{{document.gategoryCategoryType}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="document.counselorId">
                        <a [routerLink]="['../counselor', document.counselorId , 'view' ]" >{{document.counselorId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'document', { outlets: { popup: document.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="documents?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
