<div>
    <h2 id="page-heading">
        <span jhiTranslate="iCounselingApp.counselor.home.title">Counselors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-counselor" [routerLink]="['/counselor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iCounselingApp.counselor.home.createLabel">
            Create new Counselor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="counselors?.length === 0">
        <span jhiTranslate="iCounselingApp.counselor.home.notFound">No counselors found</span>
    </div>
    <div class="table-responsive" *ngIf="counselors?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="consultantType"><span jhiTranslate="iCounselingApp.counselor.consultantType">Consultant Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="educationId"><span jhiTranslate="iCounselingApp.counselor.education">Education</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="scoreId"><span jhiTranslate="iCounselingApp.counselor.score">Score</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="userId"><span jhiTranslate="iCounselingApp.counselor.user">User</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let counselor of counselors ;trackBy: trackId">
                <td><a [routerLink]="['/counselor', counselor.id, 'view' ]">{{counselor.id}}</a></td>
                <td jhiTranslate="{{'iCounselingApp.ConsultantType.' + counselor.consultantType}}">{{counselor.consultantType}}</td>
                <td>
                    <div *ngIf="counselor.educationId">
                        <a [routerLink]="['../education', counselor.educationId , 'view' ]" >{{counselor.educationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="counselor.scoreId">
                        <a [routerLink]="['../score', counselor.scoreId , 'view' ]" >{{counselor.scoreId}}</a>
                    </div>
                </td>
                <td>
                    {{counselor.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/counselor', counselor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/counselor', counselor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'counselor', { outlets: { popup: counselor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="counselors?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
