<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="counselor">
            <h2><span jhiTranslate="iCounselingApp.counselor.detail.title">Counselor</span> {{counselor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iCounselingApp.counselor.consultantType">Consultant Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'iCounselingApp.ConsultantType.' + counselor.consultantType}}">{{counselor.consultantType}}</span>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.counselor.education">Education</span></dt>
                <dd>
                    <div *ngIf="counselor.educationId">
                        <a [routerLink]="['/education', counselor.educationId, 'view']">{{counselor.educationId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iCounselingApp.counselor.score">Score</span></dt>
                <dd>
                    <div *ngIf="counselor.scoreId">
                        <a [routerLink]="['/score', counselor.scoreId, 'view']">{{counselor.scoreId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/counselor', counselor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
